doctype html
html(lang="en")
  head
    title Error
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Ooops
    #container.col
      p= error
      p= message
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.