doctype html
html(lang="en")
  head
    title Error
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Ooops
    #container.col
      p= error
      p= message
      p.
        This looks like a cool error page.